html,
body {
  margin: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    167.21deg,
    rgba(200, 254, 247, 0.6) -7.83%,
    rgba(200, 225, 254, 0.28125) 51.54%,
    rgba(200, 254, 247, 0) 103.93%
  );
}

.container-fluid {
  padding: 0%;
  width: 100%;
  height: 100%;
}

.my-row {
  height: 100%;
}

.my-column-left {
  display: flex;
  flex-direction: column;
}

.my-column-content {
  margin-right: 0%;
  flex-direction: row;
}

.logo {
  font-family: Kodchasan;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5vw;
  /* line-height: 47px; */
  color: #8e4fc0;
  text-transform: uppercase;
  width: 825px;
  height: 53px;
  padding: 15%;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*background-color: #8e4fc0;*/
  align-items: center;
}

.my-row-signButtons {
  margin-right: 0%;
  display: flex;
  justify-content: flex-end;
}

.top {
  margin: 1.5%;
  font-family: Kodchasan;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  color: #8e4fc0;
  text-transform: uppercase;
}

a {
  font-size: 1vw;
}

.my-row-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 5vw;
}

h1 {
  font-family: Kurale;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 101.5%;
  color: #644e76;
}

.btn {
  text-align: center;
  background: #8e4fc0 !important;
  border: #8e4fc0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}
