<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    </style>
</head>

<body>



    <div class="background-element">
        <svg width="732" height="757" viewBox="0 0 732 757" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="732" height="757" fill="url(#paint0_radial_40_2)"/>
            <path d="M496.318 306.469C496.928 313.12 493.88 319.802 487.82 326.193C481.76 332.584 472.695 338.675 461.297 344.139C438.5 355.067 406.388 363.479 370.363 366.781C334.339 370.084 301.232 367.65 276.829 361.049C264.627 357.749 254.606 353.408 247.485 348.225C240.363 343.043 236.152 337.026 235.542 330.375C234.932 323.723 237.98 317.041 244.04 310.65C250.1 304.259 259.165 298.168 270.563 292.704C293.36 281.776 325.472 273.364 361.497 270.062C397.521 266.759 430.628 269.193 455.031 275.794C467.233 279.094 477.254 283.435 484.375 288.618C491.496 293.8 495.708 299.817 496.318 306.469Z" stroke="black" stroke-width="0.2"/>
            <path d="M479.323 383.889C475.983 389.674 469.638 393.373 461.001 395.096C452.364 396.819 441.446 396.564 428.984 394.45C404.059 390.223 372.977 378.566 341.649 360.478C310.32 342.39 284.683 321.301 268.56 301.83C260.498 292.094 254.818 282.766 251.992 274.425C249.166 266.083 249.197 258.739 252.537 252.954C255.877 247.17 262.221 243.47 270.859 241.747C279.496 240.024 290.413 240.279 302.876 242.393C327.8 246.62 358.882 258.277 390.211 276.365C421.54 294.453 447.176 315.542 463.3 335.014C471.362 344.75 477.041 354.077 479.868 362.418C482.694 370.76 482.662 378.104 479.323 383.889Z" stroke="black" stroke-width="0.2"/>
            <path d="M365.93 449.356C359.251 449.356 352.875 445.711 347.064 439.093C341.253 432.474 336.015 422.892 331.614 411.042C322.813 387.343 317.368 354.597 317.368 318.421C317.368 282.246 322.813 249.5 331.614 225.801C336.015 213.951 341.253 204.368 347.064 197.75C352.875 191.132 359.251 187.487 365.93 187.487C372.61 187.487 378.986 191.132 384.797 197.75C390.608 204.368 395.845 213.951 400.246 225.801C409.047 249.5 414.493 282.246 414.493 318.421C414.493 354.597 409.047 387.343 400.246 411.042C395.845 422.892 390.608 432.474 384.797 439.093C378.986 445.711 372.61 449.356 365.93 449.356Z" stroke="black" stroke-width="0.2"/>
            <path d="M273.345 411.006C268.622 406.283 266.691 399.198 267.262 390.409C267.833 381.62 270.905 371.14 276.172 359.649C286.707 336.668 306.011 309.663 331.591 284.083C357.171 258.503 384.177 239.198 407.158 228.664C418.649 223.397 429.128 220.324 437.917 219.753C446.706 219.183 453.792 221.114 458.515 225.837C463.238 230.56 465.169 237.646 464.598 246.435C464.027 255.224 460.955 265.703 455.688 277.194C445.153 300.175 425.849 327.181 400.269 352.761C374.689 378.341 347.683 397.645 324.702 408.179C313.211 413.447 302.732 416.519 293.943 417.09C285.154 417.661 278.068 415.73 273.345 411.006Z" stroke="black" stroke-width="0.2"/>
            <defs>
            <radialGradient id="paint0_radial_40_2" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(366 325.695) rotate(90) scale(431.305 417.061)">
            <stop offset="0.130208" stop-color="#C9FFF8"/>
            <stop offset="0.541667" stop-color="#C8D1FE" stop-opacity="0.46875"/>
            <stop offset="0.848958" stop-color="#C8FEF7" stop-opacity="0"/>
            </radialGradient>
            </defs>
            </svg>
            

    </div>


    <div class="container-fluid">
        <div class="background-dashboard">
            <div class="row my-row">
                <div class="col-2 my-column-left">
                    <div class="row-1">
                        <div class="logo">Purpofy</div>
                    </div>




                    <div class="row my-row-nav">



                        <nav id="main-menu" class="main-menu navi" aria-label="Main menu">
                            <a href="#main-menu-toggle" id="main-menu-close" class="menu-close"
                                aria-label="Close main menu"> <svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 32 32" width="32" height="32">
                                    <title>menu to arrow right</title>
                                    <g class="nc-icon-wrapper" stroke-linecap="square" stroke-linejoin="miter"
                                        stroke-width="2" fill="#6a6a6a" stroke="#6a6a6a">
                                        <g class="js-nc-int-icon nc-int-menu-to-arrow-right js-nc-int-icon-loaded">
                                            <line data-cap="none" fill="none" stroke="#6a6a6a" stroke-linecap="square"
                                                stroke-miterlimit="10" x1="3" x2="29" y1="8" y2="8" />
                                            <line data-cap="none" fill="none" stroke-linecap="square"
                                                stroke-miterlimit="10" x1="29" x2="3" y1="16" y2="16"
                                                data-color="color-2" />
                                            <line data-cap="none" fill="none" stroke="#6a6a6a" stroke-linecap="square"
                                                stroke-miterlimit="10" x1="3" x2="29" y1="24" y2="24" />
                                        </g>
                                        <style>
                                            <!--.nc-int-menu-to-arrow-right {
                                            --transition-duration: 0.4s;
                                            transform-origin: 50% 50%;
                                            transition: transform var(--transition-duration) cubic-bezier(.86, 0, .07, 1)
                                            }

                                            .nc-int-menu-to-arrow-right :nth-child(1) {
                                                transform-origin: 3px 8px
                                            }

                                            .nc-int-menu-to-arrow-right :nth-child(3) {
                                                transform-origin: 3px 24px
                                            }

                                            .nc-int-menu-to-arrow-right :nth-child(1),
                                            .nc-int-menu-to-arrow-right :nth-child(3) {
                                                stroke-dasharray: 26px;
                                                stroke-dashoffset: 0;
                                                transition: transform var(--transition-duration) cubic-bezier(.86, 0, .07, 1), stroke-dashoffset var(--transition-duration) cubic-bezier(.86, 0, .07, 1)
                                            }

                                            .nc-int-menu-to-arrow-right.nc-int-icon-state-b {
                                                transform: rotate(-180deg)
                                            }

                                            .nc-int-menu-to-arrow-right.nc-int-icon-state-b :nth-child(1),
                                            .nc-int-menu-to-arrow-right.nc-int-icon-state-b :nth-child(3) {
                                                stroke-dashoffset: 12px
                                            }

                                            .nc-int-menu-to-arrow-right.nc-int-icon-state-b :nth-child(1) {
                                                transform: translateY(8px) rotate(-45deg)
                                            }

                                            .nc-int-menu-to-arrow-right.nc-int-icon-state-b :nth-child(3) {
                                                transform: translateY(-8px) rotate(45deg)
                                            }

                                            </style><script>function initIntIcon(i) {
                                                    i.classList.contains("js-nc-int-icon-loaded") || (i.classList.add("js-nc-int-icon-loaded"), i.closest("svg").addEventListener("click", function (n) {
                                                        i.classList.toggle("nc-int-icon-state-b")
                                                    }

                                                    ))
                                                }

                                                for (var intIcons = document.getElementsByClassName("js-nc-int-icon"), i = 0; intIcons.length > i; i++)initIntIcon(intIcons[i])</script></g></svg>
                                            -->
                                        <span class="sr-only">Close main menu</span>
                                        <span class="fa fa-close" aria-hidden="true"></span>
                            </a>
                            <ul class="vertical m-4" style="flex-direction: column;">
                                <li><a class="nav-link active" href="/">Home</a></li>
                                <li><a class="nav-link" href="/questionnaire">Questionnaire</a></li>
                                
                                <li><a class="nav-link active" href="#">Messenger</a></li>
                                <li><a class="nav-link" href="#">Your Goal</a></li>
                                <li><a class="nav-link" href="#">Events</a></li>
                                <div id="line">
                                    <hr>
                                </div>
                                <li><a class="nav-link" href="#">Settings</a></li>
                            </ul>
                        </nav>
                    </div>




                </div>



                <div class="col-10 my-column-content">
                    <div class="row-1 my-row-signButtons">
                        <div class="top">
                            <button type="button" class="btn btn-primary btn-lg">3</button>
                            <a><img src="image/avatar.png"></a>
                        </div>

                        <a href="#main-menu" id="main-menu-toggle" class="menu-toggle" aria-label="Open main menu">
                            <div class="hButton">
                                <svg class="hamburgerButton" width="42" height="31" viewBox="0 0 42 31" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <line x1="2.3" y1="2.7" x2="39.7" y2="2.7" stroke="#8E4FC0" stroke-width="4.6"
                                        stroke-linecap="round" />
                                    <line x1="2.3" y1="15.7" x2="39.7" y2="15.7" stroke="#8E4FC0" stroke-width="4.6"
                                        stroke-linecap="round" />
                                    <line x1="2.3" y1="28.7" x2="39.7" y2="28.7" stroke="#8E4FC0" stroke-width="4.6"
                                        stroke-linecap="round" />
                                </svg>
                            </div>
                            <span class="sr-only">Open main menu</span>
                            <span class="fa fa-bars" aria-hidden="true"></span>
                        </a>
                    </div>

                    <div class="container">
                        <div class="welcome">
                            <h1>Welcome home.</h1>
                        </div>
                        <div class="row">
                            <div class="col-lg-10">
                                <h4>Connect with these likeminded people:</h4>
                                <div class="row">
                                    <img src="image/avatar1.png" id="avatar1">
                                    <img src="image/avatar2.png" id="avatar1">
                                    <img src="image/avatar3.png" id="avatar1">
                                    <img src="image/avatar1.png" id="avatar1">
                                    <img src="image/avatar2.png" id="avatar1">
                                    <img src="image/avatar3.png" id="avatar1">
                                    <svg width="49" height="42" viewBox="0 0 49 42" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M3.5 18.1784C1.94166 18.1784 0.67838 19.4417 0.67838 21C0.678381 22.5583 1.94166 23.8216 3.5 23.8216L3.5 18.1784ZM47.9952 22.9952C49.0971 21.8933 49.0971 20.1067 47.9952 19.0048L30.0385 1.04814C28.9366 -0.0537697 27.15 -0.0537699 26.0481 1.04814C24.9462 2.15005 24.9462 3.9366 26.0481 5.03851L42.0096 21L26.0481 36.9615C24.9462 38.0634 24.9462 39.85 26.0481 40.9519C27.15 42.0538 28.9366 42.0538 30.0385 40.9519L47.9952 22.9952ZM3.5 23.8216L46 23.8216L46 18.1784L3.5 18.1784L3.5 23.8216Z"
                                            fill="#8E4FC0" />
                                    </svg>
                                </div>


                                <h4>We thought you might like these:</h4>
                                <div class="row">
                                    <div class="col">
                                        <div class="video">
                                            <img src="image/video.png">
                                            <h5>Video1</h5>
                                            looooool
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="video">
                                            <img src="image/video.png">
                                            <h5>Video2</h5>
                                            Text text text
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="video">
                                            <img src="image/video.png">
                                            <h5>Video3</h5>
                                            was geht?
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary btn-lg" id="seeMore">SEE MORE
                                </button>

                                <h4>Join these events!</h4>
                                <div class="row">
                                    <div class="col">
                                        <div class="video">
                                            <img src="image/event.png">
                                            <h5>Event1</h5>
                                            looooool
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="video">
                                            <img src="image/event.png">
                                            <h5>Event2</h5>
                                            Text text text
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="video">
                                            <img src="image/event.png">
                                            <h5>Event3</h5>
                                            was geht?
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary btn-lg" id="seeMore">SEE MORE
                                </button>

                                <h4>What are your friends up to?</h4>
                                <div class="row">
                                    <div class="col-2">
                                        <img src="image/avatar1.png" id="avatar-comment">
                                    </div>
                                    <div class="col-8 person-comment">
                                        <h5>Person1 liked this video.</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-10 content-comment">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni ab nesciunt
                                        porro?
                                        Nostrum aspernatur non corrupti! Id, esse consectetur quasi, aut adipisci
                                        quibusdam
                                        soluta voluptas reiciendis voluptate officia autem cupiditate.
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <img src="image/avatar2.png" id="avatar-comment">
                                    </div>
                                    <div class="col-8 person-comment">
                                        <h5>Person2 shared this article.</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-10 content-comment">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni ab nesciunt
                                        porro?
                                        Nostrum aspernatur non corrupti! Id, esse consectetur quasi, aut adipisci
                                        quibusdam
                                        soluta voluptas reiciendis voluptate officia autem cupiditate.
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <img src="image/avatar3.png" id="avatar-comment">
                                    </div>
                                    <div class="col-8 person-comment">
                                        <h5>Person3 shared this article.</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-10 content-comment">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni ab nesciunt
                                        porro?
                                        Nostrum aspernatur non corrupti! Id, esse consectetur quasi, aut adipisci
                                        quibusdam
                                        soluta voluptas reiciendis voluptate officia autem cupiditate.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="homepage.js"></script>
</body>

</html>