<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    </style>
</head>


<header>
    <a href="#main-menu" id="main-menu-toggle" class="menu-toggle" aria-label="Open main menu">
        <h1 class="logo">

            <svg width="80" height="53" viewBox="0 0 80 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="2.5" y1="2.5" x2="77.5" y2="2.5" stroke="black" stroke-width="5" stroke-linecap="round" />
                <line x1="2.5" y1="26.5" x2="77.5" y2="26.5" stroke="black" stroke-width="5" stroke-linecap="round" />
                <line x1="2.5" y1="50.5" x2="77.5" y2="50.5" stroke="black" stroke-width="5" stroke-linecap="round" />
            </svg>
        </h1>
        <span class="sr-only">Open main menu</span>
        <span class="fa fa-bars" aria-hidden="true"></span>
    </a>



    <nav id="main-menu" class="main-menu" aria-label="Main menu">
        <a href="#main-menu-toggle" id="main-menu-close" class="menu-close" aria-label="Close main menu">
            <span class="sr-only">Close main menu</span>
            <span class="fa fa-close" aria-hidden="true"></span>
        </a>
        <ul class="vertical">
            <li><a href="#">Product44444s</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <a href="#main-menu-toggle" class="backdrop" tabindex="-1" aria-hidden="true" hidden></a>
</header>





<body>


    <div class="background">

    </div>



    <div class="background-element">
        <svg width="1205" height="1213" viewBox="0 0 1205 1213" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="-99" y="-136" width="1304" height="1349" fill="url(#paint0_radial_40_2)" />
            <path
                d="M683.318 435.469C683.928 442.12 680.88 448.802 674.82 455.193C668.76 461.584 659.695 467.675 648.297 473.139C625.5 484.067 593.388 492.479 557.363 495.781C521.339 499.084 488.232 496.65 463.829 490.049C451.627 486.749 441.606 482.408 434.485 477.225C427.363 472.043 423.152 466.026 422.542 459.375C421.932 452.723 424.98 446.041 431.04 439.65C437.1 433.259 446.165 427.168 457.563 421.704C480.36 410.776 512.472 402.364 548.497 399.062C584.521 395.759 617.628 398.193 642.031 404.794C654.233 408.094 664.254 412.435 671.375 417.618C678.496 422.8 682.708 428.817 683.318 435.469Z"
                stroke="black" stroke-width="0.2" />
            <path
                d="M666.323 512.889C662.983 518.674 656.639 522.373 648.002 524.096C639.364 525.819 628.447 525.564 615.984 523.45C591.06 519.223 559.978 507.566 528.649 489.478C497.32 471.39 471.684 450.301 455.56 430.83C447.499 421.094 441.819 411.766 438.993 403.425C436.166 395.083 436.198 387.739 439.538 381.954C442.877 376.17 449.222 372.47 457.859 370.747C466.496 369.024 477.414 369.279 489.876 371.393C514.801 375.62 545.883 387.277 577.212 405.365C608.541 423.453 634.177 444.542 650.3 464.014C658.362 473.75 664.042 483.077 666.868 491.418C669.694 499.76 669.663 507.104 666.323 512.889Z"
                stroke="black" stroke-width="0.2" />
            <path
                d="M552.93 578.356C546.251 578.356 539.875 574.711 534.064 568.093C528.253 561.475 523.015 551.892 518.614 540.042C509.813 516.344 504.368 483.597 504.368 447.422C504.368 411.246 509.813 378.5 518.614 354.801C523.015 342.951 528.253 333.369 534.064 326.75C539.875 320.132 546.251 316.487 552.93 316.487C559.61 316.487 565.986 320.132 571.797 326.75C577.608 333.369 582.845 342.951 587.246 354.801C596.047 378.5 601.493 411.246 601.493 447.422C601.493 483.597 596.047 516.344 587.246 540.042C582.845 551.892 577.608 561.475 571.797 568.093C565.986 574.711 559.61 578.356 552.93 578.356Z"
                stroke="black" stroke-width="0.2" />
            <path
                d="M460.345 540.006C455.622 535.283 453.691 528.197 454.262 519.408C454.833 510.619 457.905 500.14 463.172 488.649C473.707 465.668 493.011 438.662 518.591 413.083C544.171 387.503 571.177 368.198 594.158 357.664C605.649 352.396 616.128 349.324 624.917 348.753C633.706 348.182 640.792 350.113 645.515 354.837C650.238 359.56 652.169 366.645 651.598 375.435C651.027 384.223 647.955 394.703 642.688 406.194C632.153 429.175 612.849 456.18 587.269 481.76C561.689 507.34 534.683 526.645 511.702 537.179C500.211 542.446 489.732 545.519 480.943 546.09C472.154 546.66 465.068 544.729 460.345 540.006Z"
                stroke="black" stroke-width="0.2" />
            <defs>
                <radialGradient id="paint0_radial_40_2" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(553 444.4) rotate(90) scale(768.6 742.961)">
                    <stop stop-color="#C9FFF8" />
                    <stop offset="0.286458" stop-color="#C8D1FE" stop-opacity="0.46875" />
                    <stop offset="0.682292" stop-color="#C8FEF7" stop-opacity="0" />
                </radialGradient>
            </defs>
        </svg>

    </div>



    <!--- candy menu-

    <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
        <a href="#" class="navbar-brand">test</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="" class="nav-link">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">TICKETS</a>
                </li>
            </ul>
        </div>
    </nav>

  ---->


    <!--dontdelete-->


    <div class="container-fluid">
        <div class="row my-row">
            <div class="col-2 my-column-left">
                <div class="row-1">
                    <div class="logo">Purpofy</div>
                </div>




                <div class="row my-row-nav">



                    <nav class="navi">

                        <a class="nav-link" href="#">Home</a>
                        <a class="nav-link" href="/questionnaire">Questionnaire</a>
                        <a class="nav-link" href="#">Dashboard/Feed</a>
                        <a class="nav-link" href="#">Messenger</a>
                        <a class="nav-link" href="#">Your Goal</a>
                        <a class="nav-link" href="#">Events</a>
                    </nav>
                </div>




            </div>



            <div class="col-10 my-column-content">
                <div class="row-1 my-row-signButtons">
                    <div class="top">
                        <button type="button" class="btn btn-primary btn-lg">Sign up</button>
                        <button type="button" class="btn btn-primary btn-lg">Sign in</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-5">


                        <h1>Let’s find
                            your purpose. Together.</h1>
                        <br>
                        <p class="lead">We want to help you find your purpose.
                            Find out who you truly are and connect with those who understand you based on your
                            personality types and
                            interests. <br>
                            We believe that it’s essential to know yourself in order to know what you truly need and
                            desire in life to
                            fulfill you.


                            Haven’t found your purpose yet?<br>
                            No worries, it’s a long process and an unique journey. We will provide you
                            with information and a loving community to support you!
                        </p>

                        <p>
                            LET’S GET TO KNOW YOU A LITTLE BETTER.
                        </p>
                        <button type="button" class="btn btn-primary btn-lg" onclick="sendToQuestionnaire()">Start
                            Test</button>
                    </div>



                    <div class="col-5" class="test">







                    </div>

                </div>

            </div>
        </div>
        <script src="homepage.js"></script>
</body>

</html>