.container {
  height: 100vh;
  width: 100%;
  background-image: url(); /* here goes the background image for the website */
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
}

body {
  background: linear-gradient(
    167.21deg,
    rgba(200, 254, 247, 0.6) -7.83%,
    rgba(200, 225, 254, 0.28125) 51.54%,
    rgba(200, 254, 247, 0) 103.93%
  );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
}

.btn {
  text-align: center;
  background: #8e4fc0 !important;
}

.content {
  position: absolute;
  width: 520px;
  height: 271px;
  left: 352px;
  top: 158px;
}

h1 {
  font-family: Kurale;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 101.5%;
  color: #644e76;
}

nav {
  position: absolute;
  position: absolute;
  width: 266px;
  height: 449px;
  left: 0px;
  top: 162px;
  background: #f5fffe;
  border-radius: 7px;
  display: flex;
}

.nav.flex-column {
  padding: 10 50px;
  display: flex;
}

.logo {
  font-family: Kodchasan;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  color: #8e4fc0;
  text-transform: uppercase;
  position: absolute;
  width: 825px;
  height: 53px;
  left: 42px;
  top: 41px;
}

.top {
  position: absolute;
  height: 57px;
  left: 1192px;
  top: 34px;
}
